/* tablet */
@media screen and (max-width: 1279px) {
  #first {
    .bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 680px;
      background: #fff;
    }
    #main-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .bar-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        width: 100%;
        height: 100px;
        padding: 0 20px;
      }
    }
    #contents-box {
      width: 100%;
      position: absolute;
      top: 100px;
      left: 50%;
      transform: translateX(-50%);
      .nav-btn {
        h1 {
          // border: 1px solid #f00;
          position: absolute;
          top: 180px;
          left: 0;
          width: 100%;
          height: 542px;
          text-align: center;
          line-height: 542px;
          letter-spacing: 7px;
          z-index: 50;
          font: {
            size: 80px;
            family: gm B;
          }
          color: #fff;
          z-index: 10;
          text-shadow: 0 0 3px #000;
          opacity: 0;
          transition: all 0.3s;
          &:hover {
            opacity: 1;
          }
        }
        .video-type {
          width: 100%;
          height: 100%;
          top: 200px;
          padding: 0 20px;
          display: flex;
          justify-content: space-between;
          video {
            width: 220px;
            height: 480px;
          }
        }
      }
      .gra-box {
        width: 100%;
        height: 300px;
        bottom: 200px;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        span {
          width: 220px;
          height: 800px;
        }
      }
    }
  }
  #third {
    .hello-content {
      // border: 1px solid #f00;
      position: relative;
      display: grid;
      justify-content: space-between;
      align-items: center;
      grid-gap: 110px;
      width: 900px;
      height: 690px;
      .phone-box {
        width: 360px;
        height: 690px;
        div {
          width: 360px;
          height: 690px;
        }
      }
      .my-content {
        p:nth-child(1) {
          font: {
            family: gm B;
            size: 60px;
          }
          margin: 80px 0;
        }
        p:nth-child(2) {
          font: {
            size: 24px;
          }
          margin-bottom: 81px;
        }
        .work {
          p {
            font: {
              size: 18px;
              family: gm L;
            }
            letter-spacing: 0;
            margin-bottom: 20px;
          }
          p:nth-child(3) {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  #fourth {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 950px;
    height: 1200px;
    padding: 10px 0;
    .emoji {
      position: relative;
      // border: 1px solid #f00;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 620px;
      height: 150px;
    }
  }
  #sixth {
    // border: 1px solid #0f0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 950px;
    height: 1200px;
    padding: 10px 0;
    .emoji {
      position: relative;
      // border: 1px solid #f00;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 620px;
      height: 150px;
    }
  }
  #seventh {
    width: 100%;
    height: 1200px;
    .container {
      width: 100%;
      height: 350px;
      grid-gap: 50px;
      .square {
        width: 280px;
        height: 280px;
        position: relative;
        span {
          position: absolute;
          top: 0;
          left: 0;
          display: inline-block;
          width: inherit;
          height: inherit;
        }
        div {
          h2 {
            font-size: 22px;
          }
          p {
            font-size: 14px;
          }
        }
      }
    }
  }
  #ninth {
    h1 {
      font: 28px/3rem "gm M";
    }
    article {
      width: 100%;
      height: 600px;
      display: grid;
      grid-gap: 50px;
      div {
        width: 250px;
        height: 450px;
      }
    }
  }
  #eleventh {
    width: 100%;
    height: 100vh;
    background: #fff;
    display: grid;
    justify-content: center;
    align-items: center;
    .last-pics {
      margin-top: 100px;
      ul {
        width: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(7, 1fr);
        grid-gap: 30px;
        li {
          img {
            border: 1px solid #eee;
          }
        }
      }
    }
    .last-text {
      width: 100%;
      height: 600px;
      margin-top: 150px;
      text-align: center;
      h1 {
        font: {
          size: 40px;
          family: gm M;
        }
        margin-bottom: 50px;
      }
      p {
        font-size: 30px;
        padding-bottom: 50px;
        i {
          padding-right: 20px;
          font-size: 32px;
        }
      }
    }
  }

  /* top btn */
  .gototop {
    width: 50px;
    height: 50px;
    font-size: 30px;
    position: fixed;
    right: 20px;
    bottom: 50px;
    text-align: center;
    line-height: 55px;
    background: #fff;
    border-radius: 50%;
    color: #000;
    opacity: 0;
    mix-blend-mode: difference;
  }
}

/* mobile */
@media screen and (max-width: 768px) {
  .cursor {
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    transform: translate(-50%, -50%);
    pointer-events: none;
    mix-blend-mode: difference;
    transition: all 0.05s;
    z-index: 110;
  }
  body {
    overflow-x: hidden;
    #first {
      height: 1600px;
      .bg {
        height: 500px;
      }
      #main-bar {
        .bar-list {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 50px;
          gap: 3.125rem;
          width: 768px;
          height: 100px;
          #logo {
            width: 50px;
            height: 50px;
            border-radius: 100%;
            background: url(./img/ghiblilogo.png) center/cover no-repeat;
          }
          #logo.active {
            background: url(./img/ghiblilogo2.png) center/cover no-repeat;
          }
          div {
            display: none;
          }
          .gnb {
            display: block;
            position: fixed;
            top: 0;
            right: -280px;
            width: 280px;
            height: 100vh;
            text-align: right;
            padding: 80px 20px 0 0;
            background: #fff;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
            z-index: 9999;
            transition: all 0.3s;
            a {
              position: relative;
              font-family: GM M;
              font-size: 18px;
              cursor: pointer;
              display: inline-block;
              margin-top: 40px;
            }
            a::before {
              content: attr(data-text);
              position: absolute;
              top: 0;
              left: 0;
              background-image: linear-gradient(
                -140deg,
                #634edd,
                #eb3b9b,
                #fe4743,
                #fed06a
              );
              -webkit-background-clip: text;
              background-clip: text;
              color: transparent;
              transition: all 0.5s;
              width: 0;
              overflow: hidden;
            }
            a:hover::before {
              width: 100%;
            }
          }
          .gnb.active {
            right: 0;
            color: #000;
          }
          .trigger {
            opacity: 1;
            display: block;
            position: absolute;
            top: 50%;
            right: 25px;
            transform: translateY(-50%);
            width: 25px;
            height: 15px;
            z-index: 99999;
            transition: 0.3s;
            span {
              position: absolute;
              display: block;
              width: 100%;
              height: 2px;
              background: #000;
              transition: 0.3s;
              &:nth-child(1) {
                top: 0;
              }
              &:nth-child(2) {
                top: 50%;
              }
              &:nth-child(3) {
                top: 100%;
              }
            }
          }
          .trigger.active span:nth-child(1) {
            top: 50%;
            transform: rotate(45deg);
            background: #000;
          }
          .trigger.active span:nth-child(2) {
            opacity: 0;
          }
          .trigger.active span:nth-child(3) {
            top: 50%;
            transform: rotate(-45deg);
            background: #000;
          }
        }
      }
      #main-bar.active .trigger span {
        background: #fff;
        color: #000;
      }
      #contents-box {
        width: 768px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        .nav-btn {
          display: inline-block;
          width: 280px;
          height: 500px;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          z-index: 300;
          h1 {
            position: absolute;
            top: 260px;
            left: 50%;
            transform: translateX(-50%);
            width: 300px;
            height: 300px;
            text-align: center;
            line-height: 120px;
            letter-spacing: 7px;
            z-index: 100;
            font: {
              size: 60px;
              family: gm B;
            }
            color: #fff;
            z-index: 10;
            text-shadow: 0 0 3px #000;
            opacity: 0;
            transition: all 0.3s;
            &:hover {
              opacity: 1;
            }
          }
          .video-type {
            display: none;
          }
        }
        .video-type-mobile {
          position: absolute;
          top: 110px;
          left: 0;
          width: 100%;
          height: 520px;
          display: flex;
          justify-content: center;
          align-content: center;
          z-index: 100;
          video {
            width: 280px;
            height: 520px;
            border: 10px solid #373737;
            border-radius: 40px;
            background: #eee;
            object-fit: cover;
          }
          #left,
          #right {
            font-size: 30px;
            height: 580px;
            margin: 0 18px;
            padding-top: 260px;
            cursor: pointer;
            z-index: 100;
          }
        }
        .gra-box {
          display: none;
        }
        .gra-box-mobile {
          width: 280px;
          height: 300px;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          display: flex;
          justify-content: center;
          align-items: center;
          span {
            // border: 1px solid #f00;
            width: 280px;
            height: 1000px;
            z-index: -10;
            background: linear-gradient(rgba(55, 55, 55, 1), rgba(0, 0, 0, 0));
          }
        }
      }
    }
    #second {
      width: 100%;
      height: 100vh;
      display: grid;
      justify-content: center;
      align-items: center;
      position: relative;
      .hello-content {
        // border: 1px solid #0f0;
        #third-move {
          .text-ani {
            font: {
              size: 38px;
              family: GM B;
            }
            &::after {
              content: "";
              position: absolute;
              top: 0;
              right: 0;
              width: 3px;
              height: 100%;
              background: #fff;
            }
            &.active::after {
              display: none;
            }
          }
        }

        .phone-box {
          width: 280px;
          height: 520px;
          border: 12px solid #373737;
          border-radius: 40px;
          position: relative;
          div {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%);
            width: 120px;
            height: 26px;
            background: #373737;
            border-radius: 0 0 30px 30px;
          }
        }
      }
    }
    #third {
      width: 360px;
      height: 100%;
      border: 1px solid #0f0;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .hello-content {
        grid-gap: 0;
        position: static;
        transform: none;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        height: 100%;
        .phone-box {
          position: static;
          transform: none;
          width: 100%;
          height: 600px;
          div {
            position: static;
            transform: none;
            width: 100%;
            height: 600px;
            margin-top: 170px;
          }
        }
        .my-content {
          position: static;
          transform: none;
          text-align: center;
          letter-spacing: none;
          p:nth-child(1) {
            width: 100%;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            font: {
              family: gm B;
              size: 40px;
            }
            margin: 20px 0;
          }
          p:nth-child(2) {
            font: {
              size: 19px;
            }
            width: 100%;
            position: absolute;
            top: 80px;
            left: 50%;
            transform: translateX(-50%);
          }
          .work {
            border: 1px solid #f00;
            p {
              position: static;
              transform: none;
              font: {
                size: 16px;
                family: gm L;
              }
              letter-spacing: 0;
              margin-bottom: 20px;
            }
            p:nth-child(3) {
              margin-bottom: 0;
            }
          }
        }
      }
    }
    #fourth {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 360px;
      height: 1080px;
      .emoji {
        position: relative;
        // border: 1px solid #f00;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 360px;
        height: 100px;
        .emo-img {
          position: absolute;
          left: 0;
          bottom: -30px;
          transform: scale(0.7);
        }
        .messages-01 {
          position: relative;
          // border: 1px solid #00f;
          top: 0;
          width: 360px;
          height: 100px;
          .vector-wh {
            position: absolute;
            top: 50%;
            left: 72px;
          }
          .message-long {
            div {
              display: block;
              position: absolute;
              top: 50%;
              left: 80px;
              transform: translateY(-50%);
              width: 200px;
              height: 75px;
              background: #fff;
              text-align: center;
              line-height: 75px;
              border-radius: 30px;
              font-size: 20px;
              span {
                font-family: gm B;
              }
            }
          }
        }
      }
      .messages-02 {
        position: absolute;
        bottom: 300px;
        right: 0;
        width: 100px;
        height: 75px;
        transition: all 0.3s;
        .message-short {
          position: absolute;
          bottom: 0;
          width: 100px;
          height: 75px;
          background: #fff;
          text-align: center;
          line-height: 75px;
          border-radius: 30px;
          font-size: 36px;
          span {
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #000;
            animation: flow 1.5s linear infinite;
            &:nth-child(2) {
              animation-delay: 0.2s;
            }
            &:nth-child(3) {
              animation-delay: 0.4s;
            }
          }
        }
        .vector-wh {
          position: absolute;
          bottom: 5px;
          right: -8px;
          transform: rotateY(-180deg);
        }
        &:hover {
          transform: scale(0.9);
        }
      }
    }
    #fifth {
      // border: 1px solid #f00;
      width: 360px;
      height: 900px;
      color: #fff;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .heading {
        // border: 1px solid #f00;
        margin-top: 100px;
        width: 360px;
        height: 255px;
        padding-left: 10px;
        display: grid;
        justify-content: space-between;
        align-items: center;
        a {
          transition: all 0.3s;
          .outline {
            // border: 1px solid #f00;
            position: relative;
            width: 130px;
            height: 130px;
            border: 3px solid transparent;
            .inner {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 115px;
              height: 115px;
            }
            .more-me {
              display: none;
            }
          }
          &:hover {
            transform: scale(0.9);
          }
        }
        .total {
          z-index: 300;
          // border: 1px solid #f00;
          width: 150px;
          height: 180px;
          display: grid;
          justify-content: start;
          align-items: center;
          .name {
            margin-top: 20px;
            font: {
              family: gm B;
              size: 16px;
            }
          }
          .num {
            // border: 1px solid #00f;
            width: 150px;
            display: grid;
            justify-content: space-between;
            align-items: center;
            grid-template-columns: repeat(3, 60px);
            text-align: center;
            div:nth-child(1) {
              justify-self: start;
            }
            div:nth-child(3) {
              justify-self: end;
            }
          }
          div {
            font: {
              family: gm M;
              size: 9px;
            }

            span {
              display: block;
              margin-bottom: -10px;
              font: {
                family: gm B;
                size: 12px;
              }
            }
          }
        }
      }
      .line-icons {
        width: 360px;
        height: 50px;
        margin-top: 10px;
        border-top: 1.5px solid #fff;
        border-bottom: 1.5px solid #fff;
        display: grid;
        justify-content: center;
        align-items: center;
        div {
          // border: 1px solid #0f0;
          width: 360px;
          height: 70px;
          text-align: center;
          display: flex;
          justify-content: center;
          align-content: center;
          gap: 100px;
          span {
            width: 30px;
            height: 30px;
            font-size: 40px;
            text-align: center;
            margin-top: 3px;
            &:last-child {
              opacity: 0.3;
            }
          }
        }
      }
      .pics {
        width: 360px;
        height: 630px;
        margin-top: 10px;
        .pic-content {
          display: grid;
          justify-content: space-between;
          align-items: center;
          gap: 10px;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: repeat(2, 1fr);
          a {
            width: 110px;
            height: 110px;
            cursor: pointer;
            display: grid;
            justify-content: center;
            align-items: center;
            transition: all 0.3s;
            position: relative;
            overflow: hidden;
            transition: all 0.3s;
            img {
              position: absolute;
              top: 0;
              left: 0;
              width: 110px;
              height: 110px;
              object-fit: cover;
              z-index: 10;
            }
            p {
              position: absolute;
              top: 0;
              left: 0;
              width: 110px;
              height: 110px;
              text-align: center;
              letter-spacing: 1px;
              font: 12px/110px "gm L";
              background: rgba(0, 0, 0, 0.6);
              z-index: 10;
              opacity: 0;
              transition: all 0.3s;
              &:hover {
                opacity: 1;
              }
            }
            &:hover {
              opacity: 1;
              transform: scale(1.1);
            }
          }
        }
      }
      .bottom-bar {
        // border: 1px solid #0f0;
        position: absolute;
        bottom: 0;
        width: 360px;
        height: 80px;
        border-top: 1px solid #555;
        ul {
          // border: 1px solid #f00;
          display: grid;
          justify-content: space-between;
          align-items: center;
          grid-template-columns: repeat(5, 72px);
          li {
            // border: 1px solid #0f0;
            width: 72px;
            height: 80px;
            display: grid;
            justify-content: center;
            align-items: center;
            transition: all 0.3s;
            &:nth-child(3) span {
              font-size: 30px;
              border: 3px solid #fff;
              border-radius: 15px;
            }
            &:nth-child(4):hover {
              transform: scale(1.1);
            }
            &:nth-child(4)::before {
              content: "\f08a";
              font: {
                family: fontawesome;
                size: 30px;
              }
              color: #fff;
              cursor: pointer;
            }
            &:nth-child(4).active::before {
              content: "\f004";
              text-shadow: 0 0 20px #f00;
              color: #f00;
              transform: scale(1.1);
            }
            &:last-child {
              .outline {
                width: 40px;
                height: 40px;
                border: 1px solid transparent;
                .inner {
                  width: 35px;
                  height: 35px;
                }
              }
            }
            span {
              font-size: 40px;
            }
          }
        }
      }
    }
    #sixth {
      // border: 1px solid #0f0;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 360px;
      height: 1080px;
      .emoji {
        position: relative;
        // border: 1px solid #f00;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 360px;
        height: 100px;
        .emo-img {
          position: absolute;
          left: 0;
          bottom: -30px;
          transform: scale(0.7);
        }
        .messages-01 {
          position: relative;
          // border: 1px solid #00f;
          top: 0;
          width: 360px;
          height: 100px;
          .vector-wh {
            position: absolute;
            top: 50%;
            left: 72px;
          }
          .message-long {
            div {
              display: block;
              position: absolute;
              top: 50%;
              left: 80px;
              transform: translateY(-50%);
              width: 200px;
              height: 150px;
              background: #fff;
              text-align: center;
              line-height: 40px;
              border-radius: 30px;
              font-size: 20px;
              span {
                font-family: gm B;
              }
            }
          }
        }
      }
      .messages-02 {
        position: absolute;
        bottom: 300px;
        right: 0;
        width: 100px;
        height: 75px;
        transition: all 0.3s;
        .message-short {
          position: absolute;
          bottom: 0;
          width: 100px;
          height: 75px;
          background: #fff;
          text-align: center;
          line-height: 75px;
          border-radius: 30px;
          font-size: 36px;
          span {
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #000;
            animation: flow 1.5s linear infinite;
            &:nth-child(2) {
              animation-delay: 0.2s;
            }
            &:nth-child(3) {
              animation-delay: 0.4s;
            }
          }
        }
        .vector-wh {
          position: absolute;
          bottom: 5px;
          right: -8px;
          transform: rotateY(-180deg);
        }
        &:hover {
          transform: scale(0.9);
        }
      }
    }
  }
}
