* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: gm B;
  src: url(./font/GmarketSansTTFBold.ttf);
}
@font-face {
  font-family: gm M;
  src: url(./font/GmarketSansTTFMedium.ttf);
}
@font-face {
  font-family: gm L;
  src: url(./font/GmarketSansTTFLight.ttf);
}
#wrap #slide .main-contents div {
  width: 500px;
  height: 300px;
  display: flex;
  margin: 80px;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  font-family: gm M;
  font-size: 40px;
  color: #fff;
  box-shadow: 0 0 30px rgba(149, 149, 149, 0.4);
}

/* common */
body {
  font-family: gm L;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* desktop */
#wrap {
  width: 1280px;
  width: 80rem;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#wrap h1 {
  width: 350px;
  display: flex;
  align-items: center;
  gap: 40px;
  font-size: 40px;
  padding-left: 10px;
}
#wrap h1 span {
  font-family: gm B;
  font-size: 150px;
  padding-top: 22px;
}
#wrap #slide {
  width: 40rem;
  height: 100%;
  position: relative;
  overflow: hidden;
}
#wrap #slide .main-contents {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-53%, -50%);
  animation: flow 10s infinite linear;
  cursor: pointer;
}
#wrap #slide .main-contents div:nth-child(1) {
  background: linear-gradient(135deg, #fff6b7, #f6416c);
}
#wrap #slide .main-contents div:nth-child(2) {
  background: linear-gradient(135deg, #72edf2, #5151e5);
}
#wrap #slide .main-contents div:nth-child(3) {
  background: linear-gradient(135deg, #f0ff00, #58cffb);
}
#wrap #slide .main-contents div:nth-child(4) {
  background: linear-gradient(135deg, #eead92, #6018dc);
}
#wrap #slide .main-contents div:nth-child(5) {
  background: linear-gradient(135deg, #fff6b7, #f6416c);
}
#wrap #slide .main-contents div:nth-child(6) {
  background: linear-gradient(135deg, #72edf2, #5151e5);
}
#wrap #slide .main-contents div:nth-child(7) {
  background: linear-gradient(135deg, #f0ff00, #58cffb);
}
#wrap #slide .main-contents div:nth-child(8) {
  background: linear-gradient(135deg, #eead92, #6018dc);
}
#wrap #slide .main-contents div:nth-child(9) {
  background: linear-gradient(135deg, #fff6b7, #f6416c);
}
#wrap #slide .main-contents div:nth-child(10) {
  background: linear-gradient(135deg, #72edf2, #5151e5);
}
#wrap #slide .main-contents div:nth-child(11) {
  background: linear-gradient(135deg, #f0ff00, #58cffb);
}
#wrap #slide .main-contents div:nth-child(12) {
  background: linear-gradient(135deg, #eead92, #6018dc);
}

@keyframes flow {
  0% {
    top: 0;
  }
  50% {
    top: 50%;
  }
  100% {
    top: 100%;
  }
}
/* tablet */
@media screen and (max-width: 1024px) {
  #wrap {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #wrap h1 {
    width: 190px;
    font-size: 30px;
    gap: 20px;
  }
  #wrap h1 span {
    font-size: 100px;
  }
  #wrap #slide {
    width: 400px;
    height: 100vh;
  }
  #wrap #slide .main-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #wrap #slide .main-contents div {
    width: 300px;
    height: 250px;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    margin: 30px;
  }
}
/* mobile */
@media screen and (max-width: 768px) {
  #wrap {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #wrap h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    gap: 0;
    font-size: 28px;
  }
  #wrap h1 span {
    transform: rotate(90deg);
    font-size: 100px;
  }
  #wrap #slide {
    width: 100%;
    height: 250px;
  }
  #wrap #slide .main-contents {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    animation: flows 5s infinite linear;
  }
  #wrap #slide .main-contents div {
    width: 250px;
    height: 200px;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    margin: 20px;
  }
}
@keyframes flows {
  0% {
    left: 0;
  }
  50% {
    left: 50%;
  }
  100% {
    left: 100%;
  }
}/*# sourceMappingURL=style.css.map */