@import "reset";
@import "font";

/* common */
body {
  font-family: gm L;
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(1, 1fr);
  background: #000;
  color: #fff;
  // border: 1px solid #f00;
  mix-blend-mode: difference;
}

// .cursor {
//   position: fixed;
//   width: 70px;
//   height: 70px;
//   border-radius: 50%;
//   background: #fff;
//   transform: translate(-50%, -50%);
//   pointer-events: none;
//   mix-blend-mode: difference;
//   transition: all 0.05s;
//   z-index: 110;
// }

// main page
#selfintro {
  // border: 1px solid #f00;
  width: 900px;
  height: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  color: #fff;
  transform: translate(-50%, -50%);
  .heading {
    // border: 1px solid #f00;
    width: 100%;
    padding: 0 40px;
    height: 200px;
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;
    .close {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      font-size: 50px;
      text-align: center;
      color: #fff;
    }
    .outline {
      position: absolute;
      top: 50%;
      left: 60px;
      transform: translateY(-50%);
      width: 110px;
      height: 110px;
      border: 2px solid transparent;
      background: linear-gradient(#000, #000) padding-box,
        linear-gradient(-140deg, #634edd, #eb3b9b, #fe4743, #fed06a) border-box;
      border-radius: 100%;
      .inner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 95px;
        height: 95px;
        border-radius: 100%;
        background: url(./img/sh.png) center/cover no-repeat;
      }
    }
    .name {
      position: absolute;
      top: 50%;
      left: 200px;
      transform: translateY(-50%);
      font: {
        family: gm B;
        size: 22px;
      }
    }
  }
  .pics {
    width: 900px;
    height: 100%;
    .pic-content {
      width: 900px;
      height: 810px;
      object-fit: cover;
      // border: 1px solid #f00;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .arrow {
        text-align: center;
        width: 70px;
        height: 70px;
        border-radius: 100%;
        font-size: 2rem;
        padding: 10px;
        opacity: 0.1;
        transition: all 0.3s;
        cursor: pointer;
        &:hover {
          opacity: 1;
        }
      }
    }
    .text-content {
      // border: 1px solid #f00;
      padding: 30px;
      .like02 {
        // border: 1px solid #0f0;
        width: 60px;
        height: 60px;
        transition: all 0.3s;
        &:hover {
          transform: scale(1.1);
        }
        &::before {
          content: "\f08a";
          font: {
            family: fontawesome;
            size: 60px;
          }
          color: #fff;
          cursor: pointer;
        }
        &.active::before {
          content: "\f004";
          text-shadow: 0 0 20px #f00;
          color: #f00;
          transform: scale(1.1);
        }
      }
      .like-text {
        margin-top: 20px;
        font: {
          size: 22px;
          family: gm M;
        }
        &::before {
          content: "좋아요 54개";
        }
        &.active::before {
          content: "좋아요 55개";
        }
      }
      div {
        font: {
          size: 22px;
          family: gm L;
        }
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(3, 180px);
        grid-gap: 15px;
        p:nth-child(1) {
          font-family: gm M;
        }
        .shortText {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
        .plus {
          cursor: pointer;
        }
        .hide-content {
          line-height: 30px;
          display: none;
        }
        .shortText.active,
        .plus.active {
          opacity: 0;
        }
        .hide-content.active {
          display: block;
          width: 600px;
          margin-bottom: 20px;
        }
      }
      .text-up {
        font: {
          size: 22px;
          family: gm L;
        }
        margin-top: 40px;
        cursor: pointer;
        &.active {
          display: none;
        }
      }
      #container {
        width: 900px;
        display: grid;
        justify-content: flex-start;
        align-items: start;
        grid-template-columns: repeat(1, 1fr);
        display: none;
        p {
          font: {
            family: gm L;
            size: 24px;
          }
        }
        form {
          #textInfo {
            margin-top: 10px;
            color: #fff;
            li {
              padding-bottom: 20px;
              font: {
                size: 20px;
                family: gm L;
              }
              label {
                display: inline-block;
                width: 70px;
              }
              input {
                display: inline-block;
                width: 380px;
                padding: 5px;
                border: none;
                border-bottom: 1px solid #ddd;
                background: transparent;
                color: #fff;
                &:focus {
                  color: #fff;
                  outline: none;
                }
              }
            }
          }
          #reset,
          #save {
            display: inline-block;
            font-family: gm B;
            width: 80px;
            padding: 5px 10px;
            background: #000;
            color: #fff;
            border: 1px solid #fff;
            border-radius: 10px;
            cursor: pointer;
            &:hover {
              background: #fff;
              color: #000;
            }
          }
        }
        #textlist {
          width: 900px;
          margin-top: 20px;
          position: relative;
          li {
            width: 800px;
            height: 100%;
            margin-bottom: 10px;
            .delButton {
              cursor: pointer;
              position: absolute;
              right: 7px;
              font-family: gm B;
              width: 80px;
              padding: 5px 10px;
              background: #000;
              color: #fff;
              border: 1px solid #fff;
              border-radius: 10px;
              margin: 3px;
              &:hover {
                background: #fff;
                color: #000;
              }
            }
          }
        }
        &.active {
          display: block;
        }
      }
      p {
        span {
          font-family: gm M;
          line-height: 50px;
          font-size: 18px;
          margin-top: 30px;
        }
      }
    }
    .bottom-bar {
      // border: 1px solid #00f;
      width: 900px;
      height: 120px;
      border-top: 1px solid #555;
      margin-top: 100px;
      ul {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(5, 1fr);
        li {
          // border: 1px solid #0f0;
          width: 180px;
          height: 120px;
          display: grid;
          justify-content: center;
          align-items: center;
          transition: all 0.3s;
          &:nth-child(3) span {
            font-size: 50px;
            border: 3px solid #fff;
            border-radius: 15px;
          }
          &:nth-child(4)::before {
            content: "\f08a";
            font: {
              family: fontawesome;
              size: 60px;
            }
            color: #fff;
            cursor: pointer;
          }
          &:nth-child(4).active::before {
            content: "\f004";
            text-shadow: 0 0 20px #f00;
            color: #f00;
            transform: scale(1.1);
            z-index: 50;
          }
          &:last-child {
            display: grid;
            justify-content: center;
            align-items: center;
            position: relative;
            // border: 1px solid #f00;
            .outline {
              width: 60px;
              height: 60px;
              border: 2px solid transparent;
              background: linear-gradient(#000, #000) padding-box,
                linear-gradient(-140deg, #634edd, #eb3b9b, #fe4743, #fed06a)
                  border-box;
              border-radius: 100%;
              position: absolute;
              top: 30px;
              left: 50%;
              transform: translateX(-50%);
              .inner {
                position: absolute;
                top: 29px;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 50px;
                height: 50px;
                background: url(./img/sh.png) center/cover no-repeat;
                border-radius: 100%;
              }
            }
          }
          span {
            font-size: 60px;
          }
        }
      }
    }
  }
}
/* mobile */
@media screen and (max-width: 768px) {
  #selfintro {
    width: 360px;
    position: relative;
    top: 50%;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
    .heading {
      height: 120px;
      .close {
        i {
          font-size: 30px;
        }
      }
      .outline {
        width: 80px;
        height: 80px;
        left: 30px;
        .inner {
          width: 70px;
          height: 70px;
        }
      }
      .name {
        position: absolute;
        top: 50%;
        left: 130px;
        transform: translateY(-50%);
        font: {
          family: gm B;
          size: 18px;
        }
      }
    }
    .pics {
      width: 360px;
      height: 100%;
      .pic-content {
        width: inherit;
        height: 450px;
      }
      .text-content {
        // border: 1px solid #f00;
        padding: 10px;
        .like02 {
          // border: 1px solid #0f0;
          width: 40px;
          height: 40px;
          transition: all 0.3s;
          &:hover {
            transform: scale(1.1);
          }
          &::before {
            content: "\f08a";
            font: {
              family: fontawesome;
              size: 40px;
            }
            color: #fff;
            cursor: pointer;
          }
          &.active::before {
            content: "\f004";
            text-shadow: 0 0 20px #f00;
            color: #f00;
            transform: scale(1.1);
          }
        }
        .like-text {
          margin-top: 10px;
          font: {
            size: 16px;
            family: gm M;
          }
        }
        div {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-gap: 10px;
          p {
            font: {
              size: 16px;
              family: gm L;
            }
            margin-top: 0;
          }
          p:nth-child(1) {
            font-family: gm M;
            font-size: 14px;
            line-height: 24px;
          }
          .shortText {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            font-size: 14px;
          }
          .plus {
            cursor: pointer;
            font-size: 14px;
            line-height: 22px;
          }
          .hide-content {
            width: 360px;
            line-height: 18px;
            display: none;
            font-size: 14px;
          }
          .shortText.active,
          .plus.active {
            opacity: 0;
          }
          .hide-content.active {
            display: block;
            width: 600px;
          }
        }
        p {
          font: {
            size: 14px;
            family: gm L;
          }
          margin-top: 30px;
          span {
            font-family: gm M;
            line-height: 30px;
            font-size: 12px;
          }
        }
      }
      .bottom-bar {
        width: 360px;
        height: 80px;
        border-top: 1px solid #555;
        margin-top: 30px;
        ul {
          li {
            width: 72px;
            height: 80px;
            &:nth-child(3) span {
              font-size: 30px;
            }
            &:nth-child(4)::before {
              content: "\f08a";
              font: {
                family: fontawesome;
                size: 30px;
              }
              color: #fff;
              cursor: pointer;
            }
            &:nth-child(4).active::before {
              content: "\f004";
              text-shadow: 0 0 20px #f00;
              color: #f00;
              transform: scale(1.1);
              z-index: 50;
            }
            &:last-child {
              .outline {
                width: 40px;
                height: 40px;
                border: 1px solid transparent;
                position: absolute;
                top: 22px;
                left: 50%;
                .inner {
                  position: absolute;
                  top: 19px;
                  left: 50%;
                  width: 35px;
                  height: 35px;
                }
              }
            }
            span {
              font-size: 40px;
            }
          }
        }
      }
    }
  }
}
